@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    scroll-behavior: smooth;
    background: #121212;
    font-family: 'Source Code Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
}

body{
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: inline-block;
}

p {
    overflow: visible;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: rgba(255,255,255,.70);
    white-space: normal;
}

a {
    color: #98cad7;
}

/* ----- css top mobile nav -----*/

#menu {
  background: #602fe9;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1100;
}
#menu.open {
  opacity: 1;
  visibility: visible;
}
#menu.open li:nth-child(1) {
  animation-delay: 0.1s;
}
#menu.open li:nth-child(2) {
  animation-delay: 0.2s;
}
#menu.open li:nth-child(3) {
  animation-delay: 0.3s;
}
#menu.open li:nth-child(4) {
  animation-delay: 0.4s;
}
#menu.open li:nth-child(5) {
  animation-delay: 0.5s;
}
#menu.open li:nth-child(6) {
  animation-delay: 0.6s;
}
#menu.open li:nth-child(7) {
  animation-delay: 0.7s;
}
#menu.open li:nth-child(8) {
  animation-delay: 0.8s;
}
#menu.open li:nth-child(9) {
  animation-delay: 0.9s;
}
#menu.open li:nth-child(10) {
  animation-delay: 1s;
}
#menu.open li {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
#menu ul:hover a {
  opacity: 0.5;
}
#menu ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}
#menu ul a:hover {
  opacity: 1;
}
#menu .main-nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#menu .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu .main-nav a {
  color: #ffffff;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
#menu .main-nav a:first {
  padding-top: 0;
}
#menu .menu-footer {
  padding: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
#menu .menu-footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu .menu-footer ul li {
  display: inline;
  margin: 0 1rem;
}
#menu .menu-footer a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 50px;
  z-index: 1110;
}
.toggle-menu span {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  left: calc(50% - 13px);
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.toggle-menu span:before, .toggle-menu span:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.toggle-menu span:before {
  top: 7px;
}
.toggle-menu span:after {
  top: -7px;
}
.toggle-menu.active span {
  background-color: transparent;
  transition: background 0.2s ease-out;
}
.toggle-menu.active span:before, .toggle-menu.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.toggle-menu.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}
.toggle-menu.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}

.nav {
    display: none;
}

/* --------------- desktop nav ---------------- */

.desktop_nav {
  display:block;
  width: 100%;
  top: 20px;
  text-align: center;
}
.desktop_nav a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #44c767;
  margin: 0 2.5%;
  font-size: 1.4em;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
.desktop_nav a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #e0dfe6;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.desktop_nav a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.desktop_nav a:nth-child(1) {
  animation: show 0.2s 0.1s ease 1 both;
}
.desktop_nav a:nth-child(2) {
  animation: show 0.2s 0.2s ease 1 both;
}
.desktop_nav a:nth-child(3) {
  animation: show 0.2s 0.3s ease 1 both;
}
.desktop_nav a:nth-child(4) {
  animation: show 0.2s 0.4s ease 1 both;
}
.desktop_nav a:nth-child(5) {
  animation: show 0.2s 0.5s ease 1 both;
}


/* -------------------------------------------------------- footer styles -----*/

#foot {
    padding-bottom: 2%;
    padding-top: 1%;
    font-size: .9em;
    color: #a29ea6;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    color: white;
    text-align: center;
    margin-top: 1%;
    padding-top: 1%;

}

.footer_links {
    color : #666666;
}

/* ----------------------------------------------- dataset container styles -----*/

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    margin-top: 2.5%;
    -webkit-overflow-scrolling: touch;
    word-wrap: break-word;
}

.downloads_table {
  margin-left: 5%;
  margin-right: 5%;
  font-family:'Source Code Pro';
  width: 85%;
  border-collapse: separate;
  border-spacing: 0 20px;
  color: #e6e6e6;

}

.downloads_table th, td {
  width: 45%;
  padding-left: 15px;
  padding-right: 10px;
  padding-top:5px;
  text-align: center;


}

.download_table_img {
  height: 55px;
  width: 55px;
}

.filetype_icon {
    height: 48px;
    width: 55px;
}

.is_cleaned {
    height:41px;
    width: 28px;
}


#left_head_corner {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#right_head_corner {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}


#col_names {
  text-align: left;
  background-color: #d2d1c2;
  color: black;
}

.hidden {
  background-color: #121212;
  padding-bottom: 10px;

}

.data_info {
    color:#93ff67;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2em;

}

tr.header:hover {
    background-color: #1abc9c1a;
    cursor: row-resize;

}

tr.header:active {
    transform: scale(.98);
}


img.download_table_img:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 25px #be63f9;
  cursor: pointer;
}

/* --------------------------------------Styles for rounded corners if background color is changed.---- */

td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
td:last-child {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.light_link {
    color: #98cad7;
}

/* ----------------------------------------------------------------Blog section styles.---- */

.main-wrapper{
    margin: 30px 0;
}

.main-wrapper > h2{
    text-align: center;
    margin: 45px 0 25px 0;
}

.article-collection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96vw;
    flex-wrap: wrap;
    margin: 0 auto;
}

article{
    flex: 0 0 calc(25% - 30px);
    margin: 10px;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
    top: 0;
    transition: all .2s ease-in-out;
}

article:hover {
  /* box-shadow: 0 4px 26px #f0edf5; */
  transform: scale(1.05);
  /* animation-direction: alternate; */
}

.card-clickable {
    text-decoration: none;
}

.img-box img{
    width: 100%;
    display: block;
    -webkit-border-top-right-radius: 10px 10px;
    -webkit-border-top-left-radius: 10px 10px;
}

.img-box{
    overflow: hidden;
}

.text-content{
    padding: 0 25px;
    background-color: #2D2D2D;
    color: #d1d1d1;
    -webkit-border-bottom-right-radius: 10px 10px;
    -webkit-border-bottom-left-radius: 10px 10px;
}

/* .text-content h3{
    padding: 15px 0;
    background-color: #666666;
      /* mark of the beast!^^ */


.text-content p{
    padding: 10px 0 25px 0;
}

.article-title {
    padding-top: 3%;
    margin-top: 0px;
    font-size: 1.6em;
    font-family: 'Source Code Pro', monospace;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-summary {
    font-size: 1.3em;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 0%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ------------------------------------------------------------ blog articles */

#header_im {
    width:100%;
    height:auto;

}

.content {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;

}

/* ------------------------------------------------------------ about page */

.headshot_container {
    text-align: center;
    position: relative;
    margin-top: 1.5%;
}

p.about_me_body {
    color:#cecece;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 2.5vh;
    overflow: auto;
}

.clickable_contact_blue, .clickable_contact_orange {
    height: 9vh;
    width: auto;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    top: 0;
    transition: top ease 0.5s
}

.contact_icons {
    text-align: center;
    /* bottom: 15%; */
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 100%;

}

.clickable_contact_blue:hover {
    top: -10px;
    cursor: pointer;
}

.clickable_contact_orange:hover {
    top: -10px;
    cursor: pointer;
}

.about_content {
    display: inline-block;
    position: relative;
    margin-top: 1%;
}

.headshot {
    width:21%;
    height: auto;
    border-radius: 25%;
}



/* ------------------------------------------------------------ projects page */

* {
    box-sizing: border-box;
}

.wrapper {
     /* font-family: 'Slabo 27px', serif; */
     box-sizing: border-box;
	 margin: 5em auto;
	 max-width: 1000px;
	 background-color: rgba(#ffffff, 0.56);
	 box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

 .cards {
	 padding: 15px;
	 display: flex;
	 flex-flow: row wrap;
}
 .card {
	 margin: 15px;
	 width: calc((100% / 3) - 30px);
	 transition: all 0.2s ease-in-out;
}
 @media screen and (max-width: 991px) {
	 .card {
		 width: calc((100% / 2) - 30px);
	}
}
 @media screen and (max-width: 767px) {
	 .card {
		 width: 100%;
	}
}
 .card:hover .card__inner {
	 background-color: #1abc9c;
	 transform: scale(1.05);
}
 .card__inner {
	 width: 100%;
	 padding: 30px;
	 position: relative;
	 cursor: pointer;
	 background-color: #2D2D2D;
	 color: #eceef1;
	 font-size: 1.5em;
	 text-transform: uppercase;
	 text-align: center;
	 transition: all 0.2s ease-in-out;
}
 .card__inner:after {
	 transition: all 0.3s ease-in-out;
}
 .card__inner .fa {
	 width: 100%;
	 margin-top: 0.25em;
}
 .card__expander {
	 transition: all 0.2s ease-in-out;
	 background-color: #333a45;
	 width: 100%;
	 position: relative;
	 display: block;
	 justify-content: center;
	 align-items: center;
	 color: #eceef1;
	 font-size: 1.5em;
}
 .card__expander .fa {
	 font-size: 0.75em;
	 /* position: absolute; */
	 top: 10px;
	 right: 10px;
	 cursor: pointer;
}
 .card__expander .fa:hover {
	 opacity: 0.9;
}
 .card.is-collapsed .card__inner:after {
	 content: "";
	 opacity: 0;
}
 .card.is-collapsed .card__expander {
	 max-height: 0;
	 min-height: 0;
	 overflow: hidden;
	 margin-top: 0;
	 opacity: 0;
}
 .card.is-expanded .card__inner {
	 background-color: #1abc9c;
}
 .card.is-expanded .card__inner:after {
	 content: "";
	 opacity: 1;
	 display: block;
	 height: 0;
	 width: 0;
	 position: absolute;
	 bottom: -30px;
	 left: calc(50% - 15px);
	 border-left: 15px solid transparent;
	 border-right: 15px solid transparent;
	 border-bottom: 15px solid #333a45;
}
 .card.is-expanded .card__inner .fa:before {
	 /* content: url("https://www.flaticon.com/svg/vstatic/svg/73/73581.svg?token=exp=1612465194~hmac=5e78ea01326a672995647f212c9fe106"); */
}
 .card.is-expanded .card__expander {
	 max-height: 1000px;
	 min-height: 200px;
	 overflow: visible;
	 margin-top: 30px;
	 opacity: 1;
}
 .card.is-expanded:hover .card__inner {
	 transform: scale(1);
}
 .card.is-inactive .card__inner {
	 pointer-events: none;
	 opacity: 0.5;
}
 .card.is-inactive:hover .card__inner {
	 background-color: #949fb0;
	 transform: scale(1);
}

img.projbuttons {
    width:10%;
    height: 10%;
    margin-left: 2%;
    margin-bottom: 3%;
    margin-right: 2%;


}

.small_card_icon_container {
    position: absolute;
    top: 5%;
    left: 5%;

}

.small_card_icons {
    height:.8em;
    width:auto;

}

.project_button_container {
    display: flex;
    justify-content: center;
}

.project_description {
    margin: 3%;
    padding-top: 2%;

}

.webappbutton {
	box-shadow:inset 0px -3px 7px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:3px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.webappbutton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.webappbutton:active {
	position:relative;
	top:1px;
}

.githubbutton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	/* border:1px solid #0b0e07; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.githubbutton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.githubbutton:active {
	position:relative;
	top:1px;
}


.popoutbuttons {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;

}

.button_icons {
    height:1em;
    width:auto;
    margin-right: .6em;
    padding-top: .2em;
}

 @media screen and (min-width: 992px) {
	 .card:nth-of-type(3n+2) .card__expander {
		 margin-left: calc(-100% - 30px);
	}
	 .card:nth-of-type(3n+3) .card__expander {
		 margin-left: calc(-200% - 60px);
	}
	 .card:nth-of-type(3n+4) {
		 clear: left;
	}
	 .card__expander {
		 width: calc(300% + 60px);
	}
}
 @media screen and (min-width: 768px) and (max-width: 991px) {
	 .card:nth-of-type(2n+2) .card__expander {
		 margin-left: calc(-100% - 30px);
	}
	 .card:nth-of-type(2n+3) {
		 clear: left;
	}
	 .card__expander {
		 width: calc(200% + 30px);
	}
}


 /*-------------------------------------------------------------- MEDIA QUERIES */

 @media screen and (max-width: 1200px){
    article{
        flex: 0 0 calc(50% - 30px);
    }
}

@media screen and (max-width: 768px){
    article{
        flex: 0 0 100%;
        margin-right: 7%;
    }

    .article-collection article:nth-child(even){
        flex-direction: column;
    }

    .data_info {
        color:#93ff67;
        font-family: 'Source Code Pro', monospace;
        font-size: .5em;

    }

    p.about_me_body {
        color:#cecece;
        text-align: center;
        padding-right: 5%;
        padding-left: 5%;
        font-size: 2.5vh;
    }

    .contact_icons {
        bottom: 10%;
    }

    .headshot {
        width: 50%;
        height: auto;
    }

    .about_content {
        bottom: 23%;
    }


}

/* make table responsive on large and small screens. */

@media only screen and (min-width: 768px) {

 .downloads_table {
     table-layout: fixed;
 }

}
@media only screen and (min-width: 992px) {
 .downloads_table {table-layout: fixed;}
}


@media only screen and (max-width: 992px) {
    .nav {
        display: block;
    }

    .footer {
        display: none;
    }

    .desktop_nav {
        display: none;
    }
}



@media only screen and (min-width: 1200px) {
 .downloads_table {table-layout: fixed;}
}

@media only screen
and (min-width : 1824px) {
    #foot {
        font-size: 120%;
    }
}

@keyframes pulse {
 0% {
   transform: scale(0.95);
   box-shadow: 0 0 0 0 #121212;
 }

 70% {
   transform: scale(1);
   box-shadow: 0 0 0 10px #121212;
 }

 100% {
   transform: scale(0.95);
   box-shadow: 0 0 0 0 #121212;
 }
}
