@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* ^ for large bold code ^ */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


html {
    scroll-behavior: smooth;
}


body{
padding: 20px;
margin-bottom: 10%;
width: 90%;
height: 100%;
background-color: #121212;
display: inline-block;
}


p {
overflow: visible;
font-family: 'Source Code Pro', monospace;
font-size: 28px;
color: rgba(255,255,255,.70);
white-space: normal;
}
/* ----- css top nav -----*/

#menu {
  background: #602fe9;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1100;
}
#menu.open {
  opacity: 1;
  visibility: visible;
}
#menu.open li:nth-child(1) {
  animation-delay: 0.1s;
}
#menu.open li:nth-child(2) {
  animation-delay: 0.2s;
}
#menu.open li:nth-child(3) {
  animation-delay: 0.3s;
}
#menu.open li:nth-child(4) {
  animation-delay: 0.4s;
}
#menu.open li:nth-child(5) {
  animation-delay: 0.5s;
}
#menu.open li:nth-child(6) {
  animation-delay: 0.6s;
}
#menu.open li:nth-child(7) {
  animation-delay: 0.7s;
}
#menu.open li:nth-child(8) {
  animation-delay: 0.8s;
}
#menu.open li:nth-child(9) {
  animation-delay: 0.9s;
}
#menu.open li:nth-child(10) {
  animation-delay: 1s;
}
#menu.open li {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
#menu ul:hover a {
  opacity: 0.5;
}
#menu ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}
#menu ul a:hover {
  opacity: 1;
}
#menu .main-nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#menu .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu .main-nav a {
  color: #ffffff;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
#menu .main-nav a:first {
  padding-top: 0;
}
#menu .menu-footer {
  padding: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
#menu .menu-footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu .menu-footer ul li {
  display: inline;
  margin: 0 1rem;
}
#menu .menu-footer a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 50px;
  z-index: 1110;
}
.toggle-menu span {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  left: calc(50% - 13px);
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.toggle-menu span:before, .toggle-menu span:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.toggle-menu span:before {
  top: 7px;
}
.toggle-menu span:after {
  top: -7px;
}
.toggle-menu.active span {
  background-color: transparent;
  transition: background 0.2s ease-out;
}
.toggle-menu.active span:before, .toggle-menu.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.toggle-menu.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}
.toggle-menu.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}

.nav {
    display: none;
}

/* --------------- desktop nav ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.desktop_nav {
  display:block;
  width: 100%;
  position: fixed;
  top: 20px;
  text-align: center;
}
.desktop_nav a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #44c767;
  margin: 0 2.5%;
  font-size: 1.4em;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
.desktop_nav a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #e0dfe6;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.desktop_nav a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.desktop_nav a:nth-child(1) {
  animation: show 0.2s 0.1s ease 1 both;
}
.desktop_nav a:nth-child(2) {
  animation: show 0.2s 0.2s ease 1 both;
}
.desktop_nav a:nth-child(3) {
  animation: show 0.2s 0.3s ease 1 both;
}
.desktop_nav a:nth-child(4) {
  animation: show 0.2s 0.4s ease 1 both;
}
.desktop_nav a:nth-child(5) {
  animation: show 0.2s 0.5s ease 1 both;
}

/* ----- css for the text input box -----*/

#inputs {
    position: sticky;
    bottom: 1%;
    right: 90%;
    left: 10%;
    height: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    height: 35px;
    width: 100%;
    font-size: 24px;
    background-color: #121212;
    color: white;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: green;
    outline: none;
    caret-color: blue;

}

/* ------------------------------------- */

.break {
    white-space: normal;
    word-wrap: break-word;
}

#chatbox {
    text-align:left
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responses, .robot_pic {
    display: inline;
}

/* #responses {
    flex: 1;
    justify-content: center;
    margin: 40px 50px;

} */

#pic_container {
    flex: 2;
}

#foot {
    padding-bottom: 2.5%;
    padding-top: 1%;
    font-size: .9em;
    color: #a29ea6;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    /* color: white; */
    text-align: center;
    margin-top: 1.2%;

}

.footer_links {
    color : #666666;
}

.current_pg {
    color: #E46F0B;
}

img.robot_pic {
    float:left;
    height: 40px;
    width:60px;
    margin-right: 5px;

}

.dynamic {
    flex: 1;
    margin: 2%, 2%, 2%, 2%;
    box-sizing: border-box;
}

.bot_text {
    margin-top:5%;
}

p.botText, p.userText {
    word-wrap: break-word
}

p.userText {
    color:gray;
}

img.emoji {
    /* height:10%;
    width:10%; */
    height:33px;
}

img.large {
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

span.emojicontainer {
    height:80%;
    width:100%;
    vertical-align: middle;
}

.bold_code {
    font-family: 'Press Start 2P', cursive;
}


table#help_table {
    background-color: #ffffff;
    border: 2px solid green;
    border-spacing: 5px;
    width:100%;
    margin-left: 5px;

}

th, td {
    padding: 15px;
}

th {
    text-align: left;
    background-color: #121212;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    line-height:23px;
}

table#help_table, th, td {
    border: 1px solid #8e8e8ed9;
    border-collapse: collapse;
    padding-top: 0px;
    padding-left: 3px;
    font-family: 'Source Code Pro';

}

tr:nth-child(even) {
    background-color: #b3b3b3
}


/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 768px) {

    .nav {
        display: block;
    }

    .desktop_nav {
        display: none;
    }

    .bot_text {
        margin-top:0px;
    }

    #foot {
        padding-bottom: 4%;
        padding-top: 1%;
        font-size: .9em;
        color: #a29ea6;
        margin-bottom: 5%;
        width: max-content;
        margin-right: 2%;
        padding-left: 2%;

    }

    div#searchform {
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-size: 20px;
        padding-bottom: 3.5%;

    }

    .responses, .robot_pic {
        display: inline;
        margin-top: -1%;
        /* to center ui icons with text on mobile*/
    }

    body {
        padding-bottom: 120px;
    }

    input[type="text"] {
        height: 30px;
        /* width: 90%; */
        font-size: 20px;
        background-color: #121212;
        color: white;
        border: none;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: green;
        outline: none;
        caret-color: blue;
        margin-left: .5%;
        margin-right: .5%;
        padding-left: 3%;

    }

    #inputs {
        padding-left: 2%;
    }


    img.robot_pic {
        float:left;
        height: 35px;
        width:50px;
        margin-right: 5px;

    }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    p {
        font-size: 30px;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    p {
        font-size: 35px;
    }

    #foot {
        font-size: 120%;
    }
}
