{% extends "section_base.html" %}

{% block body %}
<body>
<div class="headshot_container">
    <img src="static/blog_imgs/squareheadshot.jpg" alt="Brendan Ferris">
</div>

<p class="about_me_body">I'm Brendan Ferris, a Data Scientist with a background in Private Investigations. I first became interested in Data Science after seeing first-hand how fraud analytics directs the investigative resources of the insurance industry. This fueled my interest in unique things that can be built when you add curiousity to the intersection of programming, problem solving, and data.</p>

</body>
{% endblock %}
