{% extends "section_base.html" %}

{% block meta %}
{% endblock %}




{% block body %}
<body>
  <div class="main-wrapper">

    <div class="article-collection">
      <!-- article start -->
      <article>
        <a class="card-clickable" href="/implementing_a_face_mask_detector_in_opencv">
            <div class="img-box">
              <img src="static/blog_imgs/mask_emoji.jpg" alt="mask">
            </div>

            <div class="text-content">
              <h3 class="article-title">Implementing a face mask detector in OpenCV</h3>


              <p class="article-summary">A brief introduction to facial detection with OpenCV.</p>
              <br>


            </div>
        </a>
      </article>
      <!-- article end -->

      <!-- article start -->
      <article>
        <a class="card-clickable" href="/a_brief_introduction_to_sed">
            <div class="img-box">
              <img src="static/blog_imgs/code_display.jpg" alt="">
            </div>

            <div class="text-content">
              <h3 class="article-title">Introduction to Sed.</h3>


              <p class="article-summary">Pattern matching and text manipulation from the terminal.</p>
              <br><br><br><br>

        </div>
        </a>
      </article>
      <!-- article end -->
      <!-- article start -->
    <article>
        <a class="card-clickable" href="/cracking_the_zoom_host_code">
            <div class="img-box">
              <img src="static/blog_imgs/hourglass.jpg" alt="">
            </div>

            <div class="text-content">
              <h3 class="article-title">Cracking the Zoom Host Code (Theoretically)</h3>


              <p class="article-summary">A brief demonstration using Python and PyAutoGUI.</p>
              <br>
            </div>
        </a>
    </article>

      <!-- article end -->

      <!-- article start -->
      <article>
        <a class="card-clickable" href="/scraping_amazon_results_with_selenium_and_python">
            <div class="img-box">
              <img src="static/blog_imgs/code_comp.jpeg" alt="">
            </div>
            <div class="text-content">
              <h3 class="article-title">Scraping Amazon results with Selenium and Python.</h3>
              <p class="article-summary">Build a scraper to obtain the title, url, price, reviews, and ratings of goods sold on Amazon.</p>
            </div>
        </a>
      </article>
      <!-- article end -->
    </div>
  </div>
</body>
{% endblock %}
