{% extends "section_base.html" %}

{% block meta %}
{% endblock %}




{% block body %}

<body>
    <div class="main-wrapper">

        <div class="article-collection">
            <!-- article start -->
            <article>
                <a class="card-clickable" href="/implementing_a_face_mask_detector_in_opencv">
                    <div class="img-box">
                        <img src="static/blog_imgs/mask_emoji.jpg" alt="mask">
                    </div>

                    <div class="text-content">
                        <h3 class="article-title">Implementing a face mask detector in OpenCV</h3>


                        <p class="article-summary">A brief introduction to facial detection with OpenCV.</p>
                        <br>


                    </div>
                </a>
            </article>
            <!-- article end -->

            <!-- article start -->
            <article>
                <a class="card-clickable" href="/survival_analysis">
                    <div class="img-box">
                        <img src="static/blog_imgs/coconut.jpeg" alt="mask">
                    </div>

                    <div class="text-content">
                        <h3 class="article-title">Survival Analysis</h3>


                        <p class="article-summary">Censoring, survival functions, hazard functions.</p>
                        <br><br><br>


                    </div>
                </a>
            </article>
            <!-- article end -->

            <!-- article start -->
            <article>
                <a class="card-clickable" href="/a_brief_introduction_to_sed">
                    <div class="img-box">
                        <img src="static/blog_imgs/code_display.jpg" alt="">
                    </div>

                    <div class="text-content">
                        <h3 class="article-title">Introduction to Sed.</h3>


                        <p class="article-summary">Pattern matching and text manipulation from the terminal.</p>
                        <br><br><br>

                    </div>
                </a>
            </article>
            <!-- article end -->
            <!-- article start -->
            <article>
                <a class="card-clickable" href="/cracking_the_zoom_host_code">
                    <div class="img-box">
                        <img src="static/blog_imgs/hourglass.jpg" alt="">
                    </div>

                    <div class="text-content">
                        <h3 class="article-title">Cracking the Zoom Host Code (Theoretically)</h3>


                        <p class="article-summary">A brief demonstration using Python and PyAutoGUI.</p>
                        <br>
                    </div>
                </a>
            </article>

            <!-- article end -->

            <!-- article start -->
            <article>
                <a class="card-clickable" href="/scraping_amazon_results_with_selenium_and_python">
                    <div class="img-box">
                        <img src="static/blog_imgs/code_comp.jpeg" alt="">
                    </div>
                    <div class="text-content">
                        <h3 class="article-title">Scraping Amazon with Selenium and Python.</h3>
                        <p class="article-summary">Build a scraper to obtain data for goods sold on Amazon.</p>
                        <br>
                    </div>
                </a>
            </article>
            <!-- article end -->

            <!-- article start -->
            <article>
                <a class="card-clickable" href="/postgres_basics">
                    <div class="img-box">
                        <img src="static/blog_imgs/server.jpeg" alt="mask">
                    </div>

                    <div class="text-content">
                        <h3 class="article-title">PostgreSQL</h3>
                        <br>


                        <p class="article-summary">The basics to get you up and running.</p>
                        <br><br><br><br><br>


                    </div>
                </a>
            </article>
            <!-- article end -->




        </div>
    </div>
</body>
{% endblock %}
