{% extends "section_base.html" %}

{% block body %}

<body>
    <div class="wrapper">
        <div class="cards">

            <div class=" card [ is-collapsed ] ">
                <div class="card__inner [ js-expander ]">
                    <div class="small_card_icon_container">
                        <img src="static/githubblue.svg" class="small_card_icons">
                        <img src="static/rocket.svg" class="small_card_icons">
                    </div>
                    <br>
                    <span>Trading On Sentiment.</span>
                    <i class="fa fa-folder-o"></i>
                </div>
                <div class="card__expander">
                    <i class="fa fa-close [ js-collapser ]"></i>
                    <p class="project_description">Utilizing fulltext news articles scraped from <a href="www.newslookup.com">newslookup</a>, this project uses a naive bayes model to predict the direction of tomorrows open stock price based on todays
                        news coverage.</p>
                    <div class="project_button_container">
                        <a href="https://github.com/brenfrrs/trading_on_sentiment" target="_blank" class="githubbutton popoutbuttons"><img src="static/github-logo-face.svg" class="button_icons">GitHub</a>
                        <a href="#" class="webappbutton popoutbuttons"><img src="static/rocket.svg" class="button_icons">App</a>
                    </div>
                </div>
            </div>

            <div class=" card [ is-collapsed ] ">
                <div class="card__inner [ js-expander ]">
                    <div class="small_card_icon_container">
                        <img src="static/githubblue.svg" class="small_card_icons">
                    </div>
                    <span>Twitter Sentiment Analysis.</span>
                    <i class="fa fa-folder-o"></i>
                </div>
                <div class="card__expander">
                    <i class="fa fa-close [ js-collapser ]"></i>
                    <p class="project_description">Analysis of tweets related to the 3 major Apple ($AAPL) product launch events in 2020.</p>
                    <div class="project_button_container">
                        <a href="https://github.com/brenfrrs/twitter_sentiment_analysis" target="_blank" class="githubbutton popoutbuttons"><img src="static/github-logo-face.svg" class="button_icons">GitHub</a>
                    </div>
                </div>
            </div>

            <div class=" card [ is-collapsed ] ">
                <div class="card__inner [ js-expander ]">
                    <div class="small_card_icon_container">
                        <img src="static/githubblue.svg" class="small_card_icons">
                    </div>
                    <span>Startup Acquisition Prediction.</span>
                    <i class="fa fa-folder-o"></i>
                </div>
                <div class="card__expander">
                    <i class="fa fa-close [ js-collapser ]"></i>
                    <p class="project_description">Using data from Crunchbase, we predict whether or not a startup will be acquried.</p>
                    <div class="project_button_container">
                        <a href="https://github.com/brenfrrs/startup_classification" target="_blank" class="githubbutton popoutbuttons"><img src="static/github-logo-face.svg" class="button_icons">GitHub</a>
                    </div>
                </div>
            </div>

            <div class=" card [ is-collapsed ] ">
                <div class="card__inner [ js-expander ]">
                    <div class="small_card_icon_container">
                        <img src="static/githubblue.svg" class="small_card_icons">
                    </div>
                    <span>Kings County Housing Prediction.</span>
                    <i class="fa fa-folder-o"></i>
                </div>
                <div class="card__expander">
                    <i class="fa fa-close [ js-collapser ]"></i>
                    <p class="project_description">Using a linear model to predict home prices in Kings County, Washington.</p>
                    <div class="project_button_container">
                        <a href="https://github.com/brenfrrs/kings_county_housing" target="_blank" class="githubbutton popoutbuttons"><img src="static/github-logo-face.svg" class="button_icons">GitHub</a>
                    </div>
                </div>
            </div>

            <div class=" card [ is-collapsed ] ">
                <div class="card__inner [ js-expander ]">
                    <div class="small_card_icon_container">
                        <img src="static/githubblue.svg" class="small_card_icons">
                    </div>
                    <br>
                    <span>IMdb Movie Analysis.</span>
                    <br>
                    <i class="fa fa-folder-o"></i>
                </div>
                <div class="card__expander">
                    <i class="fa fa-close [ js-collapser ]"></i>
                    <p class="project_description">Exploratory data analysis of movie data scraped from IMdb.</p>
                    <div class="project_button_container">
                        <a href="https://github.com/davidlebruce/movie_industry_project" target="_blank" class="githubbutton popoutbuttons"><img src="static/github-logo-face.svg" class="button_icons">GitHub</a>
                    </div>
                </div>
            </div>

            <!-- <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
            <br>
            <span>More Projects Coming Soon.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
            <span>More Projects Coming Soon.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
            <span>More Projects Coming Soon.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
            <span>More Projects Coming Soon.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div> -->

        </div>

    </div>
</body>
{% endblock %}
