{% extends "section_base.html" %}

{% block body %}
<body>
    <div class="wrapper">
      <div class="cards">

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
              <div class="small_card_icon_container">
                <img src="static/github-logo-face.svg" class="small_card_icons">
                <img src="static/rocket.svg" class="small_card_icons">
              </div>
            <br>
            <span>Trading On Sentiment</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
              <div class="small_card_icon_container">
                <img src="static/github-logo-face.svg" class="small_card_icons">
              </div>
            <span>Twitter Sentiment Analysis.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
              <div class="small_card_icon_container">
                <img src="static/github-logo-face.svg" class="small_card_icons">
              </div>
            <span>Startup Acquisition Prediction.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            <p class="project_description">DESCRIPTION</p>
            <div class="project_button_container">
                <img src="static/github1.svg" class="projbuttons">
                <img src="static/app.svg" class="projbuttons">
            </div>
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
              <div class="small_card_icon_container">
                <img src="static/github-logo-face.svg" class="small_card_icons">
              </div>
            <span>Kings County Housing Prediction.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
              <div class="small_card_icon_container">
                <img src="static/github-logo-face.svg" class="small_card_icons">
              </div>
            <br>
            <span>IMdb Movie Analysis.</span>
            <br>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <!-- <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
            <br>
            <span>More Projects Coming Soon.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
            <span>More Projects Coming Soon.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
            <span>More Projects Coming Soon.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>

        <div class=" card [ is-collapsed ] ">
          <div class="card__inner [ js-expander ]">
            <span>More Projects Coming Soon.</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div> -->

      </div>

    </div>
</body>
{% endblock %}
