<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="static/robot1.svg">
    <link rel="stylesheet" type="text/css" href="static/section_template_styles.css" />
    <title>{{section_title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!--
 ___                 _             ___            _
| _ )_ _ ___ _ _  __| |__ _ _ _   | __|__ _ _ _ _(_)___
| _ \ '_/ -_) ' \/ _` / _` | ' \  | _/ -_) '_| '_| (_-<
|___/_| \___|_||_\__,_\__,_|_||_| |_|\___|_| |_| |_/__/

Email: >>>>>> brendan@brendanferris.com
LinkedIn: >>> https://www.linkedin.com/in/brendangferris/
GitHub: >>>>> https://github.com/brenfrrs
Medium: >>>>> https://brendanfrrs.medium.com/
-->

<body>
    <!-- Mobile nav -->
      <nav class="nav">
        <button class="toggle-menu">
          <span></span>
        </button>
      </nav>

    <div id="menu" class="">
      <nav class="main-nav">
        <ul>
          <li> <a href="/projects"> Projects </a> </li>
          <li> <a href="/datasets"> Datasets </a> </li>
          <li> <a href="/blog"> Blog </a> </li>
          <li> <a href="/"> Chat </a> </li>
          <li> <a href="/about"> About </a> </li>
          <li> <a href="#"> Resumé </a> </li>
        </ul>
      </nav>

      <footer class="menu-footer">
        <nav class="footer-nav">
          <ul>
            <li> <a href="#"> <i class="fa fa-twitter fa-fw"></i> </a> </li>
            <li> <a href="#"> <i class="fa fa-envelope fa-fw"></i> </a> </li>
          </ul>
        </nav>
      </footer>
    </div>

 <!-- Desktop Nav -->
 <nav class="desktop_nav">
   <a href="/projects">Projects</a>
   <a href="/datasets">Datasets</a>
   <a href="/blog">Blog</a>
   <a href="/">Chat</a>
   <a href="/about">About</a>
 </nav>

 </nav>
    {% block body %}
    {% endblock %}
</body>
<div class="footer">
    <p id="foot"><a href="/projects" class="footer_links">Projects</a> | <a href="/datasets" class="footer_links">Datasets</a> | <a href="/blog" class="footer_links">Blog</a> | <a href="/" class="footer_links">Chat</a> | <a href="/about"
            class="footer_links">About</a> </p>
</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts.js') }}"></script>

</html>
